<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Tutorial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div id="app">
            <div id="app2">Normal count {{ normalCount }}</div>
            <article class="panel is-primary">
                <p class="panel-heading">
                    My course lists
                </p>
                <p class="panel-tabs">
                    <a class="is-active">Your name: {{ fullname }}</a>
                </p>

                <input type="text" v-model="lastname">

                <div class="panel-block">
                    <p class="control">
                        <input class="input is-primary my-input" v-model="coursename" id="courseName" type="text" placeholder="Name">
                        <button class="button is-success" id="add" v-on:click="addCourse">ADD</button>
                        <button class="button is-danger" v-on:click="reset">Reset</button>
                    </p>
                </div>
                <ul id="my-lists">
                    <li v-for="(course, index) in courses" v-on:click="removeCourse(index)">{{ index + 1 }}. {{ course }}</li>
                </ul>

                <p v-if="courses.length === 0">No course lists.</p>

            </article>
            <h1>Normal Count: {{ normalCount }}</h1>
            <h1 v-once>My Start Counter: {{ counter }}</h1>
            <h2>My counter: {{ counter }}</h2>
            <button class="button is-primary" v-on:click="Add(10)">Add</button>
            <button class="button is-danger" v-on:click="Sub(5)">Sub</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>