body {
    margin: 30px;
}

.container {
    padding: 0 20% 0 20%;
}

.my-input {
    width: 70%;
}

#my-lists {
    text-decoration: none;
}

#my-lists li {
    border-bottom: 1px solid grey;
    padding: 10px;
}